extends layout/app

block page
   include chunk/header

   h1.title Main

   img(src="img/bg.jpg", alt="Background image", width="700")

   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quia a eveniet nostrum facere vero consequuntur? Voluptatibus id placeat sunt quaerat aut eaque accusantium, dolorum suscipit distinctio necessitatibus optio voluptate. Fuga, corporis ab. Quod. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias illum veritatis nulla minima harum, voluptate ad tempore! Mollitia, tenetur esse expedita facilis labore doloremque possimus molestiae repudiandae error cum, aspernatur nulla officiis, architecto quis.

   ul.news
      each item in news
         li= item.name

   include chunk/footer